# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage (if used)
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archive
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App data
*.ipa
*.dSYM.zip
*.dSYM

# Xcode project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Xcode workspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# User settings
*.swp
*.xcuserstate

# macOS
.DS_Store

# SwiftPM Xcode integration
Package.resolved

# Logs
*.log

# Other
*.orig

